[Unit]
Description=BookCars API
Wants=mongod.service
After=mongod.service

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/opt/BookCars/api
Type=simple
Restart=always
StandardOutput=append:/var/log/BookCars.log
StandardError=append:/var/log/BookCars.log

[Install]
WantedBy=multi-user.target
